* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
.header-article {
  background-color: #014e56;
  position: relative;
}
.feature {
  background-color: #012f34;
  position: relative;
}
.testimony {
  background-color: #004047;
  position: relative;
}
.get-ready {
  background-color: #f67e7e;
  height: 150px;
  position: relative;
}
.end-footer {
  background-color: #002529;
}
.directors {
  background-color: #004047;
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
header,
.best,
.second-article {
  padding: 0 100px;
  color: #fff;
}
nav,
.best-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-content: center;
}
.best-text {
  column-gap: 60px;
}
nav {
  padding-top: 40px;
  padding-bottom: 40px;
}
.logo,
.nav-links {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.upper {
  font-size: 14px;
}
.contact button {
  float: right;
  padding: 10px 18px;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: #014e56;
  color: #fff;
  cursor: pointer;
}
.logo {
  margin-right: 40px;
  font-size: 28px;
}
.best-text-h2 {
  font-size: 65px;
}
.bord {
  border: 2px solid #79c8c7;
  width: 30px;
  height: 0;

  margin-bottom: 20px;
}
.end {
  font-size: 22px;
  line-height: 1.5;
}
.addy {
  margin-bottom: 100px;
}
.best-image {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 70px;
}
.best-2image {
  width: 100px;
  clip-path: inset(0 0 0 50%);
  margin-left: 20px;
  margin-right: 30px;
  position: absolute;
  left: -70px;
}
.best {
  position: relative;
}
.bod {
  border: 2px solid #f67e7e;
  width: 30px;
  height: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}
.features {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  padding-bottom: 50px;
  gap: 200px;
}
.features-h2,
.features-p {
  color: #fff;
}
.features-p {
  font-size: 10px;
  line-height: 1.4;
}
.features-h3 {
  color: #f67e7e;
  font-size: 12px;
  margin-bottom: 16px;
}
.list-class {
  margin-bottom: 24px;
}
.list-class {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.best-3image {
  clip-path: inset(0 50% 0 0);
  width: 100px;
  position: absolute;
  right: -50px;
  bottom: 0;
}
.testimony-div {
  padding-left: 50px;
  padding-right: 60px;
  text-align: center;
}
.testimony-firsth2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
blockquote,
.job {
  color: #fff;
  font-size: 12px;
  display: block;
  margin-top: 6px;
}
blockquote {
  margin-top: 0;
}
.writter {
  color: #79c8c7;
}
.testimony-cards {
  display: flex;
  gap: 20px;
}
.author {
  padding-top: 10px;
  padding-bottom: 40px;
}
.author-image {
  border-radius: 50px;
  border: 2px solid #79c8c7;
  margin-top: 20px;
}
.last-image {
  margin-bottom: 0;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.get-ready {
  position: relative;
}
.get-ready-image {
  position: absolute;
  bottom: 0;
}
.red-contact {
  display: flex;
  gap: 140px;
  padding-top: 50px;
  justify-content: center;
  color: #012f34;
}
.btn-ready {
  padding: 10px 18px;
  border: 2px solid #012f34;
  border-radius: 50px;
  background-color: #f67e7e;
}
.end-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-bottom: 30px;
}
.footer-top {
  padding-top: 16px;
  color: #fff;
}
.logos {
  font-weight: bold;
  font-size: 20px;
}
.footer-link {
  display: flex;
  gap: 10px;
  font-size: 12px;
  margin-top: 16px;
}
.footer-bottom {
  padding-top: 20px;
  margin-left: 50px;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
.two-footer {
  display: flex;
  gap: 70px;
}
.social {
  padding-top: 20px;
}
.social-image {
  margin-right: 10px;
}
.last-p {
  margin-top: 24px;
  color: #fff;
  font-size: 12px;
}

/*ABOUT DESIGN  */

.second-article {
  position: relative;
  margin-top: 30px;
  display: flex;
  gap: 200px;
}
.first-p-article {
  font-size: 20px;
}
.article-h3 {
  font-weight: bold;
  font-size: 48px;
}
.article-image {
  position: absolute;
  clip-path: inset(0 50% 0 0);
  width: 100px;
  bottom: 0;
  right: -50px;
}
.header-article-two {
  height: 320px;
}
.dr-img {
  clip-path: inset(0 0 0 50%);
  width: 100px;
  position: absolute;
  left: -50px;
}
.dr-img2 {
  width: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.directors-img {
  margin-top: 24px;
  margin-bottom: 12px;
  border-radius: 50px;
  width: 70px;
  border: 2px solid #79c8c7;
}
.directors-h4 {
  color: #79c8c7;
  margin-bottom: 6px;
  font-size: 12px;
}
.aden {
  margin-top: 30px;
}
.p-aden {
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 8px;
  color: #fff;
  margin-top: 8px;
}
.aden-img {
  width: 20px;
}
.aden-img2 {
  margin-right: 10px;
}
.directors-p {
  color: #fff;
  margin-bottom: 12px;
  font-size: 8px;
}
.plus {
  position: absolute;
  background-color: #f67e7e;
  border: 10px solid #f67e7e;
  border-radius: 50px;
  bottom: -15px;
  right: 50%;
  transform: translate(50%);
}
.multiply {
  position: absolute;
  background-color: #79c8c7;
  border: 10px solid #79c8c7;
  border-radius: 50px;
  bottom: -15px;
  right: 50%;
  transform: translate(50%);
}
.director-aside {
  border: 2px solid #012f34;
  background-color: #012f34;
  text-align: center;
  height: 200px;
  position: relative;
}
.directoraside {
  background-color: #002529;
  border: 2px solid #002529;
  text-align: center;
  position: relative;
}
.director-h2 {
  padding: 50px;
  color: #fff;
  text-align: center;
}
.director-box {
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 16px;
  padding-bottom: 70px;
}
.client {
  background-color: #012f34;
  position: relative;
}
.client-h2 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding-top: 60px;
  margin-bottom: 40px;
}
.client-img {
  width: 150px;
  margin-right: 30px;
  margin-bottom: 60px;
}
.logo-cl {
  width: 70px;
}
.group-img {
  text-align: center;
}
.client-logo {
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
}

/* contact us */

.contact-header {
  position: relative;
}
.aside-article-img {
  clip-path: inset(0 0 0 50%);
  position: absolute;
  left: -50px;
  top: 160px;
}
.aside-article {
  padding: 0 100px;
  display: flex;
  gap: 200px;
  margin-top: 50px;
  padding-bottom: 60px;
}
.contact-aside-h1 {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}
.contact-aside-h3 {
  color: #f67e7e;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contact-div {
  display: flex;
  gap: 10px;
  color: #fff;
  align-items: center;
  font-size: 18px;
  margin-top: 8px;
}
.contact-article-p {
  margin-left: 6px;
  color: #79c8c7;
  margin-top: 16px;
  font-size: 16px;
}
.first-art-p {
  margin-top: 0;
}
.last-para {
  margin-bottom: 20px;
}
input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #79c8c7;
  width: 600px;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}
.contact-article-btn {
  margin-top: 16px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px 16px;
  color: #004047;
}
.lst-img-contact {
  clip-path: inset(0 50% 0 0);
  position: absolute;
  right: -65px;
  bottom: 0;
}

/* @media (max-width: 1400px) {
  .end {
    font-size: 8px;
  }
  .logo {
    font-size: 20px;
  }
  .upper {
    font-size: 12px;
  }
  header,
  .best,
  .second-article {
    padding: 0 60px;
  }
  .best-text-h2 {
    font-size: 24px;
  }
  .features {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    gap: 40px;
  }
  .features-h2 {
    font-size: 16px;
  }
  .features-h3 {
    font-size: 12px;
  }
  .features-p {
    font-size: 8px;
  }
  blockquote {
    font-size: 8px;
    font-weight: normal;
  }
  .job {
    font-size: 8px;
  }
  .testimony-firsth2 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .red-contact {
    gap: 70px;
    margin-left: 80px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .two-footer {
    gap: 80px;
  }
  .end-footer {
    padding-left: 60px;
    padding-right: 20px;
  }
  .last-p {
    font-size: 10px;
  }
  .article-h3 {
    font-size: 28px;
  }
  .first-p-article {
    font-size: 10px;
  }
  .second-article {
    gap: 90px;
  }
  .director-box {
    padding: 0 60px;
    padding-bottom: 60px;
  }
  .p-aden {
    font-size: 12px;
  }
  .client-logo {
    width: 100px;
  }
  .client-img {
    width: 90px;
  }
  .logo-cl {
    width: 50px;
  }
  .client {
    padding: 0 60px;
  }
  .aside-article {
    padding: 0 60px;
    gap: 70px;
  }
  .contact-aside-h1 {
    font-size: 18px;
  }
  .contact-aside-h3 {
    font-size: 12px;
  }
  .contact-div-p {
    font-size: 8px;
  }
  input {
    width: 350px;
  }
  .contact-article-p {
    font-size: 6px;
  }
  .last-para {
    margin-bottom: 8px;
  }
  .contact-header {
    height: auto;
  }
  .aside-article {
    padding-bottom: 40px;
  }
} */

/* @media (max-width: 1200px) {
  .end {
    font-size: 8px;
  }
  .logo {
    font-size: 20px;
  }
  .upper {
    font-size: 12px;
  }
  header,
  .best,
  .second-article {
    padding: 0 60px;
  }
  .best-text-h2 {
    font-size: 24px;
  }
  .features {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    gap: 40px;
  }
  .features-h2 {
    font-size: 16px;
  }
  .features-h3 {
    font-size: 12px;
  }
  .features-p {
    font-size: 8px;
  }
  blockquote {
    font-size: 8px;
    font-weight: normal;
  }
  .job {
    font-size: 8px;
  }
  .testimony-firsth2 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .red-contact {
    gap: 70px;
    margin-left: 80px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .two-footer {
    gap: 80px;
  }
  .end-footer {
    padding-left: 60px;
    padding-right: 20px;
  }
  .last-p {
    font-size: 10px;
  }
  .article-h3 {
    font-size: 28px;
  }
  .first-p-article {
    font-size: 10px;
  }
  .second-article {
    gap: 90px;
  }
  .director-box {
    padding: 0 60px;
    padding-bottom: 60px;
  }
  .p-aden {
    font-size: 12px;
  }
  .client-logo {
    width: 100px;
  }
  .client-img {
    width: 90px;
  }
  .logo-cl {
    width: 50px;
  }
  .client {
    padding: 0 60px;
  }
  .aside-article {
    padding: 0 60px;
    gap: 70px;
  }
  .contact-aside-h1 {
    font-size: 18px;
  }
  .contact-aside-h3 {
    font-size: 12px;
  }
  .contact-div-p {
    font-size: 8px;
  }
  input {
    width: 350px;
  }
  .contact-article-p {
    font-size: 6px;
  }
  .last-para {
    margin-bottom: 8px;
  }
  .contact-header {
    height: auto;
  }
  .aside-article {
    padding-bottom: 40px;
  }
} */

/* @media (max-width: 992px) {
  .end {
    font-size: 8px;
  }
  .logo {
    font-size: 20px;
  }
  .upper {
    font-size: 12px;
  }
  header,
  .best,
  .second-article {
    padding: 0 60px;
  }
  .best-text-h2 {
    font-size: 24px;
  }
  .features {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    gap: 40px;
  }
  .features-h2 {
    font-size: 16px;
  }
  .features-h3 {
    font-size: 12px;
  }
  .features-p {
    font-size: 8px;
  }
  blockquote {
    font-size: 8px;
    font-weight: normal;
  }
  .job {
    font-size: 8px;
  }
  .testimony-firsth2 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .red-contact {
    gap: 70px;
    margin-left: 80px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .two-footer {
    gap: 80px;
  }
  .end-footer {
    padding-left: 60px;
    padding-right: 20px;
  }
  .last-p {
    font-size: 10px;
  }
  .article-h3 {
    font-size: 28px;
  }
  .first-p-article {
    font-size: 10px;
  }
  .second-article {
    gap: 90px;
  }
  .director-box {
    padding: 0 60px;
    padding-bottom: 60px;
  }
  .p-aden {
    font-size: 12px;
  }
  .client-logo {
    width: 100px;
  }
  .client-img {
    width: 90px;
  }
  .logo-cl {
    width: 50px;
  }
  .client {
    padding: 0 60px;
  }
  .aside-article {
    padding: 0 60px;
    gap: 70px;
  }
  .contact-aside-h1 {
    font-size: 18px;
  }
  .contact-aside-h3 {
    font-size: 12px;
  }
  .contact-div-p {
    font-size: 8px;
  }
  input {
    width: 350px;
  }
  .contact-article-p {
    font-size: 6px;
  }
  .last-para {
    margin-bottom: 8px;
  }
  .contact-header {
    height: auto;
  }
  .aside-article {
    padding-bottom: 40px;
  }
} */

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .end {
    font-size: 8px;
  }
  .logo {
    font-size: 20px;
  }
  .upper {
    font-size: 12px;
  }
  header,
  .best,
  .second-article {
    padding: 0 60px;
  }
  .best-text-h2 {
    font-size: 24px;
  }
  .features {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    gap: 40px;
  }
  .features-h2 {
    font-size: 16px;
  }
  .features-h3 {
    font-size: 12px;
  }
  .features-p {
    font-size: 8px;
  }
  blockquote {
    font-size: 8px;
    font-weight: normal;
  }
  .job {
    font-size: 8px;
  }
  .testimony-firsth2 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .red-contact {
    gap: 70px;
    margin-left: 80px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .two-footer {
    gap: 80px;
  }
  .end-footer {
    padding-left: 60px;
    padding-right: 20px;
  }
  .last-p {
    font-size: 10px;
  }
  .article-h3 {
    font-size: 28px;
  }
  .first-p-article {
    font-size: 10px;
  }
  .second-article {
    gap: 90px;
  }
  .director-box {
    padding: 0 60px;
    padding-bottom: 60px;
  }
  .p-aden {
    font-size: 12px;
  }
  .client-logo {
    width: 100px;
  }
  .client-img {
    width: 90px;
  }
  .logo-cl {
    width: 50px;
  }
  .client {
    padding: 0 60px;
  }
  .aside-article {
    padding: 0 60px;
    gap: 70px;
  }
  .contact-aside-h1 {
    font-size: 18px;
  }
  .contact-aside-h3 {
    font-size: 12px;
  }
  .contact-div-p {
    font-size: 8px;
  }
  input {
    width: 350px;
  }
  .contact-article-p {
    font-size: 6px;
  }
  .last-para {
    margin-bottom: 8px;
  }
  .contact-header {
    height: auto;
  }
  .aside-article {
    padding-bottom: 40px;
  }
}

@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .end {
    font-size: 8px;
  }
  .logo {
    font-size: 20px;
  }
  .upper {
    font-size: 12px;
  }
  header,
  .best,
  .second-article {
    padding: 0 60px;
  }
  .best-text-h2 {
    font-size: 24px;
  }
  .features {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    gap: 40px;
  }
  .features-h2 {
    font-size: 16px;
  }
  .features-h3 {
    font-size: 12px;
  }
  .features-p {
    font-size: 8px;
  }
  blockquote {
    font-size: 8px;
    font-weight: normal;
  }
  .job {
    font-size: 8px;
  }
  .testimony-firsth2 {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .red-contact {
    gap: 70px;
    margin-left: 80px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .two-footer {
    gap: 30px;
  }
  .end-footer {
    padding-left: 60px;
    padding-right: 20px;
  }
  .last-p {
    font-size: 10px;
  }
  .article-h3 {
    font-size: 28px;
  }
  .first-p-article {
    font-size: 10px;
  }
  .second-article {
    gap: 60px;
  }
  .director-box {
    padding-left: 60px;
    padding-bottom: 60px;
  }
  .p-aden {
    font-size: 10px;
  }
  .client-logo {
    width: 100px;
  }
  .client-img {
    width: 50px;
  }
  .client {
    padding: 0 60px;
  }
  .aside-article {
    padding: 0 60px;
    gap: 70px;
  }
  .contact-aside-h1 {
    font-size: 18px;
  }
  .contact-aside-h3 {
    font-size: 12px;
  }
  .contact-div-p {
    font-size: 8px;
  }
  input {
    width: 200px;
  }
  .contact-article-p {
    font-size: 6px;
  }
  .last-para {
    margin-bottom: 8px;
  }
  .contact-header {
    height: auto;
  }
  .aside-article {
    padding-bottom: 40px;
  }
}
